<?xml version='1.0' encoding='utf-8'?>
<widget id="com.eface2face.iosrtcapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>iOSRTCApp</name>
    <description>
        Google's AppRTC application adapted to iOS devices using cordova-plugin-iosrtc.
    </description>
    <author email="inaki.baz@eface2face.com" href="https://eface2face.com">
        Iñaki Baz Castillo at eFace2Face, inc.
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="EnableViewportScale" value="true" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <plugin name="cordova-plugin-whitelist" version="1.0.0" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
        </config-file>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <config-file platform="ios" target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>This application uses your microphone for the purpose of video-calls.</string>
        </config-file>
        <hook src="hooks/iosrtc-swift-support.js" type="after_platform_add" />
    </platform>
    <engine name="ios" spec="~4.3.1" />
    <engine name="android" spec="~6.1.2" />
    <engine name="browser" spec="https://github.com/VinceOPS/cordova-browser.git" />
    <plugin name="cordova-plugin-iosrtc" spec="~4.0.0" />
    <plugin name="cordova-plugin-device" spec="~1.1.5" />
    <plugin name="cordova-plugin-crosswalk-webview" spec="~2.3.0">
        <variable name="XWALK_VERSION" value="23+" />
        <variable name="XWALK_LITEVERSION" value="xwalk_core_library_canary:17+" />
        <variable name="XWALK_COMMANDLINE" value="--disable-pull-to-refresh-effect" />
        <variable name="XWALK_MODE" value="embedded" />
        <variable name="XWALK_MULTIPLEAPK" value="true" />
    </plugin>
    <plugin name="cordova-plugin-camera" spec="~2.4.0">
        <variable name="CAMERA_USAGE_DESCRIPTION" value=" " />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value=" " />
    </plugin>
    <plugin name="cordova-custom-config" spec="~3.1.4" />
</widget>
